@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Passion+One:wght@400;700;900&display=swap&#39;');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap&#39;');

header>p{
    padding-bottom: 50px;
}

header>footer{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header>a:hover{
    text-decoration: underline;
}

footer>a:hover{
    text-decoration: underline;
}